* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	font-family: "Didact Gothic", sans-serif;
	color: #000;
	width: 100%;
	min-height: 100%;
}
@media only screen and (min-width: 768px) {
	html, body {
		font-size: 22px;
	}
}

body {
	padding: 10px;
	background-color: black;
}
section {
	background-color: black;
	color: #ddd;
	width: 100%;
	max-width: 700px;
	margin: auto;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
}
.operatorButtons {
	display: flex;
	justify-content: space-evenly;
	background-color: black;
}
.numberButtons {
	display: flex;
	justify-content: space-evenly;
	background-color: black;
}
.statsArea {
	display: flex;
	justify-content: center;
	background-color: black;
}
.stat {
	display: block;
	font-size: 1em;
	text-align: left;
	color: indigo;
}
.button {
	font-size: 2em;
	width: fit-content;
	text-align:center;
	color: #000;
	border-radius: 10px;
	outline: none;
}
.button:hover { 
	cursor: pointer;
}
.button:hover,
.button:focus {
	filter: brightness(120%);
	box-shadow: 4px 2px 5px #000;
}
.button.oper {
	display: flex;
	justify-content: space-around;
	background-color: darkorange;
	padding: .5em;
	margin-top: 0.5em;
	margin-bottom: 0.5rem;
}
.button.paren {
	display: flex;
	justify-content: space-around;
	background-color: goldenrod;
	padding: .5em;
	margin-top: 0.5em;
	margin-bottom: 0.5rem;
}
.button.number {
	background-color: olivedrab;
	padding: .5em;
	margin-top: 0.5em;
	margin-bottom: 0.5rem;
	container-name: numberButton;
}
media only screen and (min-width: 700px) {
	button.number {
		font-size: 3em;
	}
  }
.button.nav {
	font-size: 1rem;
	background-color: indigo;
	color: beige;
	padding: .5em;
	margin-top: 0.5em;
	margin-bottom: 0.5rem;
}
.guess {
	color: beige;
	text-align: center;
	font-size: 2em;
}
.feedbackArea {
	min-height: 60vh;
	padding: 0.75rem;
	text-align: center;
	font-size: 1em;
}
.feedbackArea .appTitle {
	text-align: center;
}
.feedbackArea .feedbackItems {
	text-align: center;
}
.feedbackArea .item {
	display: flex;
	justify-content: flex-start;
	color:lavender;
	align-items: left;
	padding-top: .1rem;
}
.message {
	text-align: center;
	color: goldenrod;
	background-color: black;;
	font-size: 1em;
}